.side-image-section-wrapper {
  width: 584px;
  height: 824px;

  background: linear-gradient(
    180deg,
    #f6c2cf -2.96%,
    #ebffcf 51.76%,
    #f6c2cf 103.7%
  );
  border-radius: 20px;
  .image-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .typography-section{
        text-align: center;
    }
  }
}

// .image1 img {
//   width: 320px;
//   display: flex;
//   height: 584px;
// }
