
.side-image-section-wrapper{

    width: 584px;
    height: 824px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
    background: linear-gradient(180deg, #F6C2CF -2.96%, #EBFFCF 51.76%, #F6C2CF 103.7%);
    
}

.image1 img {

    width: 320px;
    display: flex;
    height: 584px;
}


