@import "./../../../styles/palettes/color.scss";

.side-image-section-wrapper {
  width: 494px;
  height: 734px;

  background: linear-gradient(
    180deg,
    $shadePink -2.96%,
    $shadeGreen 51.76%,
    $shadePink 103.7%
  );
  border-radius: 20px;
  .image-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .typography-section {
      text-align: center;
    }
  }
}
