.pricing-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;

  .pricing-topic {
    margin-bottom: 41px;

    .pricing-section-02 {
      letter-spacing: -0.28px;
      line-height: 38px;
    }
  }
}
