.third-service-wrapper {
    display: flex;
    flex-direction: row;
    .left-service-section-02 {
      display: flex;
      flex-direction: column;
      width: 50%;
      text-align: start;
  
      .third-service-main-topic-04 {
        margin-top: 50px;
      }
      .service-paragraph-10 {
        margin-top: 12px;
      }
      .service-paragraph-10 {
        margin-top: 16px;
        margin-bottom: 22px;
      }
      .chapter-notice-3{
        margin-top: 33px;
      }
    }
    .right-service-section-02 {
      display: flex;
      width: 50%;

      .service-image02{
        margin-top: 70px;

      }
    }
  }