@import "./../../../styles/palettes/color.scss";

.Aesthetic-Body-page-wrapper {
  .aesthetic-navbar-section {
    display: flex;
    justify-content: end;
    padding: 20px 50px 20px 0px;
    background-color: $white;
  }
  .aesthetic-baner-section {
    display: flex;
    flex-direction: row;
    background: linear-gradient(
      180deg,
      $shadeGreen 0%,
      $peach 51.56%,
      $shadePink 100%
    );
  }
  .aesthetic-about-us-section {
    background-color: $alabaster;
  }
  .service-section {
    padding: 60px 60px 0px 60px;
    background-color: $alabaster;
  }
  .hair-blossom-section {
    padding: 10px 60px 0px 60px;
    background-color: $alabaster;
  }
  .cellulite-reduction-cupping-section {
    padding: 10px 60px 100px 60px;
    background-color: $alabaster;
  }
  .before-after-image-section {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: fit-content;
    background-color: $alabaster;
  }
  .page-pricing-section {
    padding: 60px 100px 100px 100px;
    background-color: $alabaster;
  }
  .Testimonials-section {
    background-color: $alabaster;
    padding: 30px 0px 120px 0px;
  }
}
