.modal-sample-wrapper {
  //.modal-sample-body-wrapper {
  .contact-us-modal {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .book-appointment-left-side,
    .book-appointment-right-side {
      width: 50%;
    }
  }
}
