@font-face{
    font-family: Gilroy-Light;
    font-style: Bold;
    src: url(./Gilroy/Gilroy-Light.ttf) format('truetype');
}

@font-face{
    font-family: Gilroy-Regular;
    src: url(./Gilroy/Gilroy-Regular.woff) format('woff');
}

@font-face{
    font-family: Nexa;
    font-style: Medium;
    src: url(./Nexa/Nexa-ExtraLight.ttf) format('truetype');
}

@font-face{
    font-family: Quicksand;
    font-style: Medium;
    src: url(./Quicksand/Quicksand_Light.otf) format('opentype');
}
@font-face{
    font-family: Quicksand-Book;
    font-style: Medium;
    src: url(./Quicksand/Quicksand_Book.otf) format('opentype');
}


@font-face{
    font-family: Quicksand-bold;
    font-style: Medium;
    src: url(./Quicksand/Quicksand_Bold.otf) format('opentype');
}

@font-face{
    font-family: Birds-of-Paradise;
    font-weight: 500;
    src: url(./Birds-of-Paradise/Birds-of-Paradise.ttf) format('truetype');
}