@import "./../../../styles/palettes/color.scss";

.expertise-section-wrapper {
  display: flex;
  padding: 0px 60px 60px 60px;
  background: linear-gradient(78deg, $shadeYellow 0%, $shadeOrange 73.72%);
  flex-direction: row;
  .expertise-left-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    text-align: center;

    .expertise-title {
      margin-top: 134px;
    }
    .expertise-description {
      margin-top: 22px;
      text-align: justify;
    }
  }
  .expertise-right-section {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    .service-image02 {
      margin-top: 70px;

      img {
        width: 390px;
        height: 352px;
      }
    }
  }
}
