.paragraph-section-02-wrapper {
  display: flex;
  flex-direction: column;

  .service-title {
    text-align: center;
  }
  .service-main-topic-01 {
    margin-top: 29px;
  }
  .service-paragraph-02 {
    margin-top: 2px;
  }
  .service-paragraph-03 {
    margin-top: 18px;
  }
  .service-paragraph-04 {
    margin-top: 35px;
    margin-bottom: 21px;
  }
  .chapter-notice-1 {
    margin-top: 5px;
  }
  .service-main-topic-02 {
    margin-top: 67px;
  }
  .service-paragraph-05 {
    margin-top: 1px;
  }
  .service-paragraph-06 {
    margin-top: 18px;
  }
  .service-paragraph-07 {
    margin-top: 35px;
  }
  .chapter-notice-2 {
    margin-top: 5px;
  }
  .chapter-notice-2 {
    margin-top: 1px;
  }
}
