$gunmetalGray: #222222;
$semiTransparentBlack: rgba(0, 0, 0, 0.5);
$grayish: #767676;
$cottonCandyPink: #f3b1cd;
$richBlack: #333333;
$white: #ffffff;
$paleGreen: #c2d5a8;
$paleMagenta: #e3a7c0;
$alabaster: #fffbf1;
$gradientpinks: #f6c2cf, #ebffcf, #f6c2cf;

$deepLilac: #836baa;
$tumbleweed: #e2a799;
$goldenrod: #e3b931;
$black: #000000;
$purpleMountainMajesty: #745e99;
$pink: #ff4bd9;
$lightPurple: #dde0f8;
$lightblue: #d6eff6;
$lightyellow: #f2e9cc;
$beige: #f2e9cc;

$russianViolet: #854f92;

$offWhite: #f8efe6;

$shadeGreen: #ebffcf;

$pinkishOrange: #fbe5d8;
$shadePink: #f6c2cf;
$peach: #fbe5d8;

$shadeYellow: #ffffb6;

$shadeOrange: #ffbf7d;
