$gunmetalGray:#222222;
$grayish:#767676;
$cottonCandyPink:#F3B1CD;
$richBlack:#333333;
$white:#FFFFFF;
$paleGreen: #C2D5A8;
$paleMagenta: #E3A7C0;
$alabaster: #FFFBF1;
$gradientpinks:#F6C2CF, #EBFFCF, #F6C2CF;

$deepLilac: #836BAA;
$tumbleweed: #E2A799;
$goldenrod: #E3B931;
$black:#000000;
$purpleMountainMajesty: #745E99;
$pink:#FF4BD9;


$russianViolet: #854F92;











