@import "./../../../styles/palettes/color.scss";

.input-field-wrapper {
  .input-field {
    width: 98.4%;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid $grayish;
  }

  .input-field::placeholder {
    flex-shrink: 0;
    color: #767676;

    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
