.btn-wrapper{
.btn{
  width:217px ;
  height:54px;
  background-color: #F3B1CD;
  border-radius: 80px;
}

.btn-secondary{
  width: 180px;
  height: 54px;
  background-color: #C2D5A8;
  border-radius: 80px;
}

.submit{
  width: 146px;
  height:54px;
  background-color: #F3B1CD;
  border-radius: 80px;
}
}


  