@import "./../../../styles/fonts/fonts";
@import "./../../../styles/palettes/color.scss";

.btn-wrapper {
  .default-btn {
    height: 54px;
    border-radius: 80px;
  }

  .btn {
    width: 217px;
    background-color: #f3b1cd;
  }

  .btn-secondary {
    width: 180px;
    background-color: #c2d5a8;
  }

  .submit {
    width: 146px;
    background-color: #f3b1cd;
  }
}
