@import "./../../../styles/fonts/fonts";
@import "./../../../styles/palettes/color.scss";


.btn-wrapper {
  .default-btn {
    height: 54px;
    border-radius: 80px;
  }

  .btn {
    width: 217px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 80px;
    background: #F3B1CD;    
  }

  .btn-secondary {
    width: 180px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #C2D5A8;
  }

  .submit {
    width: 146px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 80px;
    background: #F3B1CD;
  }
  
}

.close{
  background-image: url('../../../assets/close.svg');
}