@import"./../../../styles/fonts/fonts";

.Birds-of-Paradise{
  font-family: Birds-of-Paradise;
  font-weight: 400;

}
.Gilroy-light{
  font-family: Gilroy-Light;
  font-weight: 400;
}

.Gilroy-Regular{
  font-family: Gilroy-Regular;
  font-weight: 400;
}
.Nexa{
  font-family: Nexa;
  font-weight: 400;
}

.Quicksand{
  font-family: Quicksand;
  font-weight: 400;
}


.v1 {
  font-size: 16px;
}
.v2{
  font-size: 18px;
}
.v3{
  font-size: 22px;
}
.v4{
  font-size: 24px;
}
.v5{
  font-size: 26px;
}
.v6{
  font-size: 28px;
}
.v7{
  font-size: 30px;
}
.v8{
  font-size: 34px;
}
.v9{
  font-size: 35px;
}
.v10{
  font-size: 36px;
}
.v11{
  font-size: 50px;
}
.v12{
  font-size: 54px;
}
.v13{
  font-size: 56px;
}
.v14{
  font-size: 60px;
}
.v15{
  font-size: 70px;
}
.v16{
  font-size: 120px;
}

.red{
  color: red;
}

.green{
color: green;
}

.blue{
  color: blue;
}
